body {
    background: linear-gradient(45deg, #007BFF, #ffffff);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-container {
    width: 400px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    text-align: center;
    color: #c82333;
  }
  
  .input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .icon {
    margin-bottom: 7px;
    color: #FF4136;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .error {
    color: red;
    text-align: center;
    margin-bottom: 10px;
  }